vendor/
node_modules/
bower_components/
.vagrant/
public/dist/
public/partials/
public/media/
public/alpha/
public/storage/
public/phpmyadmin
public/files
public/static
public/index.html
public/stats.json
storage/mocks
storage/medialibrary/temp
.env
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.idea
.doc
npm-debug.log
storage/database.sqlite
.DS_Store
dist/
