/*======================================================================================================================
$ GLOBAL
======================================================================================================================*/
.layout-global {

    display:grid;
    grid-template-columns: 60px auto 60px;
    grid-template-rows: $hauteur-header auto auto;

    //height:100vh; // pas en mobile en tout cas

    @include media-breakpoint-down(md) {

    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: $largeur-menu $largeur-sidebar auto;
        grid-template-rows: $hauteur-lecteur auto;
    }

    &:before {
        content: "";
        display: none;

        @include media-breakpoint-up(lg) {
            display: block;

            position: fixed;
            top:0;
            bottom: 0;
            left: $largeur-menu;
            width: $largeur-sidebar;
            height: 100vh;

            z-index: 0;

            @include degrade-vertical--orange--fonce-moyen;
            //background: linear-gradient(to bottom, $rouge-player 0%, $orange-moyen 100%);
        }
    }

    &.no-sidebar:before {
        display: none;
    }
}




/*======================================================================================================================
$ HEADER
======================================================================================================================*/
.layout-global__header {

    grid-column: 1/4;
    grid-row: 1/2;

    @include degrade-horizontale--orange--fonce-claire;

    @include media-breakpoint-up(lg) {
        display: none;
    }

}




/*======================================================================================================================
$ MENU
======================================================================================================================*/
.layout-global__menu {
    background: $bleu-fonce linear-gradient(to right, rgba($bleu-moyen,1) 0%,rgba($bleu-moyen,1) 5px,rgba($bleu-moyen,0) 5px);

    @include media-breakpoint-down(md) {
        display: none;

        &.actif {
            display: inherit;
            grid-column: 1/4;
            grid-row: 2/3;

            z-index: 2;
        }
    }

    @include media-breakpoint-up(lg) {
        grid-column: 1/2;
        grid-row: 1/3;
    }

}

/*======================================================================================================================
$ LECTEUR
======================================================================================================================*/
.layout-global__lecteur {

    display: none;

    &.actif{
        display: inherit;

        grid-column: 1/4;
        grid-row: 2/3;
    }


    @include media-breakpoint-up(lg) {
        &:not(.inactif) {
            display: inherit;

            position: fixed;
            top: 0;
            bottom: $hauteur-lecteur;
            left: $largeur-menu;
            width: $largeur-sidebar;

            z-index: 1; // au dessus de .layout-global__playlist
        }
    }

}

/*======================================================================================================================
$ PLAYLIST
======================================================================================================================*/
.layout-global__playlist {

    display: none;

    &.actif {
        display: inherit;

        grid-column: 1/4;
        grid-row: 3/4;
        background-color: red;
    }

    @include media-breakpoint-up(lg) {

        &.actif {
            display: inherit;

            position: fixed;
            top:0;
            bottom: 0;
            left: $largeur-menu;
            width: $largeur-sidebar;

            z-index: 2; // au dessus de .layout-global__lecteur

            overflow-x: auto;
            overflow-x: hidden;
        }


        @media screen and (min-height: $playlist-taille-mini-hauteur-pour-affichage) {
            &:not(.actif) {
                display: inherit;

                position: fixed;
                top: $hauteur-lecteur;
                bottom: 0;
                left: $largeur-menu;
                width: $largeur-sidebar;

                overflow-x: auto;
                overflow-x: hidden;
            }
        }
    }

    @media screen and (max-height: $playlist-taille-mini-hauteur-pour-affichage) {
        display: none;
    }
}



/*======================================================================================================================
$ MAIN
======================================================================================================================*/


/*-----------------------------------------------------------------------------
$ NORMAL
-----------------------------------------------------------------------------*/
.layout-global__main {

    grid-column: 1/4;
    grid-row: 2/4;

    @include media-breakpoint-up(lg) {

        grid-column: 3/4;
        grid-row: 1/3;

    }

    &.inactif {
        display: none;
    }

}

/*-----------------------------------------------------------------------------
$ SANS SIDEBAR
-----------------------------------------------------------------------------*/
.layout-global__main--no-sidebar {

    grid-column: 1/4;
    grid-row: 2/3;

    @include media-breakpoint-up(lg) {
        grid-column: 2/4;
        grid-row: 1/3;
        max-width: 1920px;
    }

}