/*======================================================================================================================
$ CONTENEUR
le header est masquer en large up
======================================================================================================================*/
.layout-header-mobile {
    display:grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto;

    height: 100%;

    text-align: center;
    align-items: center;
    justify-items: center;

    font-size: px2rem(18);

    border-bottom: 1px solid $orange-300;
}