/*======================================================================================================================
$ BASE
======================================================================================================================*/
.layout-sidebar__contenu {

    @include media-breakpoint-down(md) {
        background-color: $bleu-100;
    }

    @include media-breakpoint-up(lg) {
        position: fixed;
        top:0;
        left: $largeur-menu;

        height: 100vh;
        min-height: 100px;
        width: $largeur-sidebar;

        overflow-y: auto;

        display: flex;

        //@include degrade-vertical--orange--fonce-moyen;
    }
}




/*======================================================================================================================
$ INITIALISATION GRILLE et ESPACEMENT
======================================================================================================================*/
.layout-sidebar__contenu-centre {
    @include sidebar-contenu__init;

    //pour ne pas coller au bord
    padding-top: $padding-layout-sidebar;
    padding-bottom: $padding-layout-sidebar;

    //pour centré verticalement
    margin-top:auto;
    margin-bottom: auto;

    //décale pour que centrage verticale soit plus harmonieux !
    @include media-breakpoint-up(lg) {

        @media screen and (min-height: 550px) {
            padding-bottom: 150px;
        }
    }
}


.layout-sidebar__contenu-grille {
    @include sidebar-contenu__init;
}

.img-cover-aside {
    margin-left: -20px;
}