/*======================================================================================================================
$ CONTENEUR GRAND LECTEUR
affichage du lecteur a cote de la playlist en "md"
======================================================================================================================*/
.layout-conteneur__sidebar-grand-lecteur {

    @include media-breakpoint-only(md) {
        display: flex;
        flex-direction: row;
    }
}




/*======================================================================================================================
$ GRAND LECTEUR
======================================================================================================================*/
.layout-conteneur__sidebar-grand-lecteur .layout-sidebar__lecteur {

    @include media-breakpoint-only(md) {
        flex-basis: $largeur-sidebar;
    }
}




/*======================================================================================================================
$ CONTENU / PLAYLIST
======================================================================================================================*/
.layout-conteneur__sidebar-grand-lecteur .layout-sidebar__contenu,
.layout-conteneur__sidebar-grand-lecteur .layout-sidebar__contenu-grille{

    @include media-breakpoint-only(md) {
        height: $largeur-sidebar;
    }
}

.layout-conteneur__sidebar-grand-lecteur .layout-sidebar__contenu {

    @include media-breakpoint-only(md) {
        flex-grow: 1; //occuper toute la place disponible en largeur
        display: flex; //centrer le contenu verticalment
        overflow-y: auto; //afficher un scroll si necessaire
    }
}

.layout-conteneur__sidebar-grand-lecteur .layout-sidebar__contenu-grille {

    @include media-breakpoint-only(md) {
        flex-grow: 1;
        padding-top: 0;
        padding-bottom: 0;
    }
}