/*======================================================================================================================
$ LECTEUR
======================================================================================================================*/
.layout-sidebar__lecteur {

    @include media-breakpoint-down(md){
        background-color: $blanc-moyen;
    }

    @include media-breakpoint-up(lg) {
        position: fixed;
        top:0;
        left: $largeur-menu;
        height: $largeur-sidebar;
        z-index: z-index(1);
    }
}




/*======================================================================================================================
$ LECTEUR MINI
======================================================================================================================*/
.layout-sidebar__lecteur-mini {
    @include media-breakpoint-down(md){

    }

    @include media-breakpoint-up(lg) {
        position: fixed;
        top:0;
        left: $largeur-menu;
        height:$hauteur-lecteur-mini;
        z-index: z-index(1);
    }
}

