/*======================================================================================================================
$ LECTEUR + CONTENU
======================================================================================================================*/
.layout-sidebar__lecteur + .layout-sidebar__contenu {

    @include media-breakpoint-up(lg) {
        top: $hauteur-lecteur;
        bottom: 0;
        height: auto;

        //#eda07f = degrader sur une hauteur de 930px moins la hauteur du lecteur
        //background: linear-gradient(to bottom, #eda07f 0%, $orange-moyen 100%);
    }

}




/*======================================================================================================================
$ LECTEUR MINI + CONTENU
======================================================================================================================*/
.layout-sidebar__lecteur-mini + .layout-sidebar__contenu {

    @include media-breakpoint-up(lg) {
        top: $hauteur-lecteur-mini;
        bottom: 0;
        height: auto;

        //#ec997d = degrader sur une hauteur de 930px moins la hauteur du lecteur mini
        background: linear-gradient(to bottom, #ec997d 0%, $orange-moyen 100%);
    }

}