/*======================================================================================================================
$ LECTEUR
======================================================================================================================*/
.layout-sidebar__lecteur {

    @include media-breakpoint-down(md){
        background-color: $bleu-100;
    }

    @include media-breakpoint-up(lg) {
        position: fixed;
        top:0;
        left: $largeur-menu;
        height: $hauteur-lecteur;
        z-index: z-index(1);
    }
}