/*======================================================================================================================
$ LECTEUR + CONTENU
======================================================================================================================*/
.layout-sidebar__lecteur + .layout-sidebar__contenu {

    @include media-breakpoint-up(lg) {
        top: $hauteur-lecteur;
        bottom: 0;
        height: auto;

        //#eda07f = degrader sur une hauteur de 930px moins la hauteur du lecteur
        //background: linear-gradient(to bottom, #eda07f 0%, $orange-200 100%);
    }

}




