/*======================================================================================================================
$ BASE
======================================================================================================================*/
$banniere__taille-visuel: 200px;
$banniere__padding-large: 20px;

.banniere {
    position: relative;
    z-index: z-index(0);
    background: $bleu-100;
    padding: $banniere__padding-large;
    min-height: $largeur-sidebar;
    color: $bleu-500;

    display: flex;
    flex-direction: column;

    &:before {
        @include content-absolute-cover;
        background-image: url('/static/dev/images/motif-cercle-blanc.svg');
        background-repeat: no-repeat;
        background-size: 800px 800px;
        background-position: center -280px;
        z-index: z-index(0);
    }


    @include media-breakpoint-only(md) {
        &:before {
            background-position: -265px center;
        }
    }


    @include media-breakpoint-up(lg) {
        &:before {
            background-position: -280px center;
        }
    }

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    @include media-breakpoint-only(md) {
        padding: 0 35px;
    }

    @include media-breakpoint-up(lg) {
        margin-right: 0;
        margin-left: 0;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: $espacement-standard;
    }

}



/*======================================================================================================================
$ ZONE VISUEL
======================================================================================================================*/
.banniere__zone-visuel {
    flex-basis: $banniere__taille-visuel;
    height: $banniere__taille-visuel;

    margin-top: auto;
    margin-bottom: auto;

    z-index: z-index(1);

    position: relative;

    @include media-breakpoint-down(sm) {
        width: $banniere__taille-visuel;
        margin-right: auto;
        margin-left: auto;
    }

    @include media-breakpoint-only(md) {

    }

    @include media-breakpoint-up(lg) {
        min-width: $banniere__taille-visuel;
    }
}




/*======================================================================================================================
$ BANNIERE COVER
======================================================================================================================*/
.banniere__zone-visuel .cover {
    position: absolute;
    top: -23px;
    left: -23px;
}



/*======================================================================================================================
$ ZONE CONTENU
======================================================================================================================*/
.banniere__zone-contenu {
    display: grid;
    align-items: center;
    flex-grow: 1;

    z-index: z-index(1);


    @include media-breakpoint-up(md) {
        margin-left: 30px;
    }
}