/*======================================================================================================================
$ BASE
======================================================================================================================*/
$banniere__taille-visuel: 200px;
$banniere__padding-large: 20px;

.banniere {
    position: relative;
    display: grid;
    grid-template-columns: $banniere__taille-visuel 1fr;
}

/*======================================================================================================================
$ IMAGE DE FOND
======================================================================================================================*/
.banniere__fond {
    width: 800px;
    height: 800px;

    position : absolute;
    top:0;
    left:0;

    background-image: url('/static/dev/images/motif-cercle-blanc.svg');
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position: center center;

    &.var--saga {
        background-image: url('/static/dev/images/motif-carre-blanc.svg');
    }
    &.var--genre {
        background-image: url('/static/dev/images/motif-hexagone-blanc.svg');
    }

    @include media-breakpoint-up(lg) {
        top: -280px;
        left:-280px;
    }

}


/*
.banniere__fond {
    position: relative;
    z-index: z-index(0);
    background: $bleu-100;
    padding: $banniere__padding-large;
    min-height: $largeur-sidebar;
    color: $bleu-500;

    &:before {
        @include content-absolute-cover;
        background-image: url('/static/dev/images/motif-cercle-blanc.svg');
        background-repeat: no-repeat;
        background-size: 800px 800px;
        background-position: center -280px;
        z-index: z-index(0);
    }
    &.var--saga:before {
        background-image: url('/static/dev/images/motif-carre-blanc.svg');
    }
    &.var--genre:before {
        background-image: url('/static/dev/images/motif-hexagone-blanc.svg');
    }


    @include media-breakpoint-only(md) {
        &:before {
            background-position: -265px center;
        }
    }


    @include media-breakpoint-up(lg) {
        &:before {
            background-position: -280px center;
        }
    }

    @include media-breakpoint-up(md) {
        flex-direction: row;
    }

    @include media-breakpoint-only(md) {
        padding: 0 35px;
    }

    @include media-breakpoint-up(lg) {
        //margin-right: 0;
        //margin-left: 0;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: $espacement-standard;
    }

}
*/


/*======================================================================================================================
$ ZONE VISUEL
======================================================================================================================*/
.banniere__visuel {
    // Annule la partie masquer de l'image pour l'aligner au contenu
    margin-top: -23px;
    margin-left: -23px;
}


/*======================================================================================================================
$ ZONE CONTENU
======================================================================================================================*/
$margin-left-zone-contenu: 30px;

.banniere__zone-contenu {
    display: grid;
    align-items: center;
    flex-grow: 1;

    z-index: z-index(1);


    @include media-breakpoint-up(md) {
        margin-left: $margin-left-zone-contenu;
    }

    .btn-outline-secondary:not(:hover) {
        background-color: $white;
    }
}

/*-----------------------------------------------------------------------------
$ BANDE
-----------------------------------------------------------------------------*/
.banniere__zone-contenu__bande {
    @include reset-ul;
    position: relative;
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    @include media-breakpoint-down(sm) {
        justify-content: center;
    }
    @include media-breakpoint-up(md) {
        background-color: $white;
        margin-top: $espacement-standard--petit;
    }
}

@include media-breakpoint-down(sm) {
    .banniere__zone-contenu__bande__item {
        padding: 0 $espacement-standard--petit;
    }
}

@include media-breakpoint-up(md) {
    .banniere__zone-contenu__bande:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: $margin-left-zone-contenu;
        background-color: $white;
    }

    .banniere__zone-contenu__bande:before {
        right: 100%;
    }


    .banniere__zone-contenu__bande__item {
        &:first-child:before {
            display: none;
        }
        &:before {
            display: inline-block;
            padding: 0 8px;
            content: "\2022";
        }
    }

}
