/*======================================================================================================================
$ BASE
======================================================================================================================*/
$decalage-mask-cover: 23px;
$grid-column-gap-de-banniere: 30px;

.banniere {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: $grid-column-gap-de-banniere;
    justify-items: center;

    @include media-breakpoint-down(md) {
        // annule la marge de .container
        margin-top: 0;
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: 200px 1fr;
        grid-template-rows: 1fr;
        justify-items: start;
    }
}

/*======================================================================================================================
$ IMAGE DE FOND en absolute
======================================================================================================================*/
.banniere__fond {
    width: 800px;
    height: 800px;

    position : absolute;
    top:-278px;

    background-image: url('/static/dev/images/motif-cercle-blanc.svg');
    background-repeat: no-repeat;
    background-size: 800px 800px;
    background-position: center center;

    &.var--saga {
        background-image: url('/static/dev/images/motif-carre-blanc.svg');
    }
    &.var--genre {
        background-image: url('/static/dev/images/motif-hexagone-blanc.svg');
    }

    @include media-breakpoint-up(lg) {
        top: -280px;
        left:-280px;
    }

}


/*======================================================================================================================
$ ZONE COVER
======================================================================================================================*/
.banniere__cover {
    @include media-breakpoint-up(lg) {
        // Annule la partie masquer de l'image pour l'aligner au contenu a gauche
        margin-top  : -($decalage-mask-cover);
        margin-left : -($decalage-mask-cover);
    }
}


/*======================================================================================================================
$ ZONE CONTENU
======================================================================================================================*/
.banniere__contenu {
    display: grid;
    align-content: center;
    width: 100%;
    z-index: z-index(1);

    @include media-breakpoint-down(md) {
        margin-bottom: $espacement-standard;
    }
    @include media-breakpoint-up(lg) {
        //etre aligner avec la cover
        margin-top  : -($decalage-mask-cover);
    }
}

/*-----------------------------------------------------------------------------
$ SURCHARGE
-----------------------------------------------------------------------------*/
.banniere__contenu .btn-outline-secondary:not(:hover) {
    background-color: $white;
}

/*-----------------------------------------------------------------------------
$ BANDE D'INFO
-----------------------------------------------------------------------------*/
.banniere__contenu__bande {
    @include reset-ul;

    position: relative;
    padding: 12px 0;

    display: flex;
    flex-wrap: wrap;

    background-color: $white;
    margin-top: $espacement-standard--petit;

    @include media-breakpoint-down(md) {
        justify-content: center;
        //annule les marge de .container
        margin-right: -($padding-container-sm);
        margin-left: -($padding-container-sm);
    }
}

@include media-breakpoint-up(md) {
    .banniere__contenu__bande:before {
        content: "";
        position: absolute;
        top: 0;
        right: 100%;
        bottom: 0;
        width: $grid-column-gap-de-banniere;
        background-color: $white;
    }
}

.banniere__contenu__bande__item:not(:first-child):before {
    content: "\2022";
    display: inline-block;
    padding: 0 8px;
}





