/*======================================================================================================================
$ BOUTON PRINCIPALE
======================================================================================================================*/
.btn-panel-0 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: z-index(20);

    &:after {
        //aide a la position des btn
        display: none;

        $espacement: 13px;
        content: "";
        position: absolute;
        right: -($espacement);
        bottom: -($espacement);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: $espacement solid blue;
        box-sizing: content-box;
    }
}




/*======================================================================================================================
$ PETIT BOUTON
en commentaire la position final
======================================================================================================================*/
.btn-panel-1 {
    @include btn-panel__petit-defaut;
    transition-delay: 0s;
    //right:-5px;
    //bottom:62px;
}
.btn-panel-2 {
    @include btn-panel__petit-defaut;
    transition-delay: 0.2s;
    //right:38px;
    //bottom:55px;
}
.btn-panel-3 {
    @include btn-panel__petit-defaut;
    transition-delay: 0.3s;
    //right:62px;
    //bottom:20px;
}
.btn-panel-4 {
    @include btn-panel__petit-defaut;
    transition-delay: 0.4s;
    //right:56px;
    //bottom:-20px;
}
.btn-panel-5 {
    @include btn-panel__petit-defaut;
    transition-delay: 0.5s;
    //right:23px;
    //bottom:-46px;
}


/*======================================================================================================================
$ APPARITION
======================================================================================================================*/
@include media-breakpoint-down(md) {

    .btn-panel-conteneur.actif {
        @include btn-panel__apparition-petit-bouton;
    }

}

@include media-breakpoint-up(lg) {

    .btn-panel-conteneur:hover {
        @include btn-panel__apparition-petit-bouton;
    }

}



