/*======================================================================================================================
$ BASE
======================================================================================================================*/
.btn-navigation {
    display: grid;
    align-items: center;
    justify-content: center;
    align-content: center;

    border: 0;
    height: 100%;
    width: $btn-navigation;

    color: $blanc;
    text-align: center; // pour les navigateurs de merde

    background-color: $bleu-500;
}


/*======================================================================================================================
$ MENU MOBILE
======================================================================================================================*/
.btn-navigation.var--menu.var--actif {
    background-color: $bleu-400;
    position: relative;
    border-right: 1px solid $orange-300;

    &:after {
        content: "";
        border-bottom:2px solid $bleu-400;
        position: absolute;
        right: 0;
        bottom: -1px;
        left: 0;
    }
}
