/*======================================================================================================================
$ CONTENEUR
le header est masquer en large up
======================================================================================================================*/
.layout-header {
    display:grid;
    grid-template-columns: 60px auto 60px;
    grid-template-rows: auto;

    height: 100%;

    text-align: center;
    align-items: center;
    justify-items: center;

    color: $blanc;
    font-size: px2rem(18);
}