/*======================================================================================================================
$ CONTENEUR
======================================================================================================================*/
.lecteur {
    display: grid;
    row-gap: 20px;
    margin: 0 auto;
    padding: 20px 20px $padding-layout-sidebar;

    @include media-breakpoint-down(md){
        background-color: $bleu-500;
        width: 100%;
        text-align: center;
    }

    @include media-breakpoint-up(lg) {
        width: $largeur-sidebar;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;

        @media screen and (min-height: $playlist-taille-mini-hauteur-pour-affichage) {
            height: $hauteur-lecteur;
            border-bottom: 1px solid rgba($bleu-500, 0.4);
        }
    }
}



/*======================================================================================================================
$ DISPOSITION de base
======================================================================================================================*/
.lecteur__disposition {
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/*======================================================================================================================
$ FILTRE IMAGE PLAYER EN ATTENTE
======================================================================================================================*/
.lecteur__filtre-bleu {
    @include cover;
    background: rgba($bleu-500, $lecteur-opacite-filtre-couleur);
    width: 280px;
}



/*======================================================================================================================
$ BOUTON SUPLEMENTAIRE
======================================================================================================================*/
// bouton s'affiche en small, medium et en large si petite hauteur
.lecteur__bouton-affichage {
    @include media-breakpoint-up(lg) {
        @media screen and (min-height: $playlist-taille-mini-hauteur-pour-affichage) {
            display: none !important;
        }
    }
}

// afficher seulement dans le cas inverse
.lecteur__bouton-masque {
    display: none !important;

    @include media-breakpoint-up(lg) {
        @media screen and (min-height: $playlist-taille-mini-hauteur-pour-affichage) {
            display: inline-flex !important;
        }
    }
}


/*======================================================================================================================
$ BARRE de progression
======================================================================================================================*/
.lecteur__progression {
    display: grid;
    grid-template-columns: 35px 1fr 35px;
    align-items: center;
    color: $bleu-400;
}
.lecteur__progression__barre {
    background-color: $primary;
    border: 0;
    height: 10px;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}
.lecteur__progression__barre::-webkit-progress-bar {
    background-color: $primary;
}
.lecteur__progression__barre::-webkit-progress-value {
    background: $bleu-400;
}
.lecteur__progression__barre::-moz-progress-bar {
    background: $bleu-400;
}
