/*======================================================================================================================
$ BASE
======================================================================================================================*/
.lecteur-mini {
    position: relative;

    @include media-breakpoint-down(md){
        display: flex;
        background-color: $bleu-fonce;
    }

    @include media-breakpoint-up(lg) {
        width: $largeur-sidebar;
        height: $hauteur-lecteur-mini;
        //overflow: hidden;
    }
}




/*======================================================================================================================
$ VISUEL
======================================================================================================================*/
.lecteur-mini__visuel {


    @include media-breakpoint-down(md){
        margin-right: 10px;

        img {
            width: 75px;
            height: auto;
        }

        img.img__filtre-grayscale {
            filter: none;
        }
    }


    @include media-breakpoint-up(lg) {
        position: relative;
        height: $hauteur-lecteur-mini;
        overflow: hidden;

        &:after {
            @include content-absolute-cover;
            @include filtre-rouge;
        }

        img {
            position: absolute;
            top:-($largeur-sidebar / 4);
        }
    }
}




/*======================================================================================================================
$ INFO
======================================================================================================================*/
.lecteur-mini__media {

    @include media-breakpoint-down(md){
        margin-right: 70px; //pour ne pas passer sous le bouton
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 15%;
        left: 0;
        padding: $padding-layout-sidebar;
    }
}




/*======================================================================================================================
$ BOUTON (position)
======================================================================================================================*/
.lecteur-mini__bouton {
    position: absolute;
    z-index: z-index(200);

    @include media-breakpoint-down(md){
        right: 10px;
        bottom: -18px;
    }

    @include media-breakpoint-up(lg) {
        @include lecteur__position-bouton;
    }
}