/*======================================================================================================================
$ STANDARD
======================================================================================================================*/
.layout-conteneur__main {
    color: $bleu-clair;
    padding: $espacement-standard;

    @include media-breakpoint-down(md){

    }

    @include media-breakpoint-up(lg) {

    }
}

/*======================================================================================================================
$ HOMEPAGE
======================================================================================================================*/
.layout-conteneur__main-home {
    @include margin-layout-main;
    color: $bleu-clair;
    margin-top: 50px;
    margin-bottom: 100px;
}