/*======================================================================================================================
$ COULEUR
======================================================================================================================*/
$fond-large: $bleu-500;

$normal: $bleu-200;
$normal-fond: $bleu-400;

$actif: $blanc;
$actif-fond: $bleu-400;
$actif-bordure: $orange-250;

$survol: $blanc;
$survol-bordure: $bleu-200;

$nouveau: $orange-250;

/*======================================================================================================================
$ CONTENEUR
======================================================================================================================*/
.menu {
    @include reset-ul;

    @include media-breakpoint-down(md) {
        z-index: z-index(100);
        width: 100%;
        background-color: $normal-fond;
    }

    @include media-breakpoint-up(lg) {
        position: fixed;
        top:0;
        left: 0;

        width: $largeur-menu;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;

        display: flex;
        flex-direction: column;
    }

}


/*======================================================================================================================
$ ITEM NORMAL
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ LIEN NORMAL
-----------------------------------------------------------------------------*/
.menu__item {
    display: flex;
    align-items: center;
    color: $normal;

    svg {
        fill: $normal;
    }

    @include media-breakpoint-down(md) {
        flex-direction: row;
        padding: $espacement-standard--petit;

        svg {
            width: 20px;
            margin: 0 $espacement-standard--petit;
        }
    }

    @include media-breakpoint-up(lg) {
        flex-direction: column;
        justify-content: center;
        min-height: ($largeur-menu - $largeur-bande-menu);
        font-size: px2rem(10);
        text-transform: uppercase;

        svg {
            margin-bottom: $espacement-standard--petit;
        }
    }

}


/*-----------------------------------------------------------------------------
$ LIEN ACTIF
-----------------------------------------------------------------------------*/
.menu__item.actif {
    background-color: $actif-fond;
    color: $actif;


    @include menu__bande {
        background-color: $actif-bordure;
    }
    &:before{
        box-shadow: none;
    }

    svg {
        fill: $actif;
    }

}


/*-----------------------------------------------------------------------------
$ LIEN HOVER
-----------------------------------------------------------------------------*/
.menu__item {

    @include survol(".actif", ".var--logout"){
        color: $survol;

        @include menu__bande {
            background-color: $survol-bordure;
        }

        svg {
            fill: $survol;
        }
    }
}


/*-----------------------------------------------------------------------------
$ LIEN AVEC POINT de nouveauté
-----------------------------------------------------------------------------*/
.menu__item.var--nouveau {
    position: relative;

    .fa {
        position: absolute;
        color: $nouveau;
    }

    @include media-breakpoint-down(md) {
        .fa {
            top: 5px;
            left: 10px;
        }
    }

    @include media-breakpoint-up(lg) {
        .fa {
            top: 15px;
            right: 10px;
        }
    }


}

/*======================================================================================================================
$ ITEM LOGIN/LOGOUT
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ LOGOUT
-----------------------------------------------------------------------------*/
.menu__item.var--logout {
    align-items: flex-end;

    .cover.var--petit{
        width: $largeur-menu;
        height: $largeur-menu;
    }
}
.menu__item__avatar {
    width: $largeur-menu;

    @include media-breakpoint-down(md) {
        display: none;
    }
}


/*-----------------------------------------------------------------------------
$ AFFICHAGE DU SOUS MENU
-----------------------------------------------------------------------------*/
@include media-breakpoint-up(lg) {
    .menu__item.var--logout:hover .menu__nivo2{
        display: grid;
    }
}

/*-----------------------------------------------------------------------------
$ SOUS MENU
-----------------------------------------------------------------------------*/
.menu__nivo2 {

    @include media-breakpoint-down(md) {
        display: grid;
        background-color: $normal-fond;
    }

    @include media-breakpoint-up(lg) {
        display: none;
        position: fixed;
        top:0;
        left: 0;
        background-color: $fond-large;
    }


    min-height: $largeur-menu;
    grid-template-columns: $largeur-menu 150px;
}

.menu__nivo2__img {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
        width: 60px;
    }

    .cover.var--auteur:before {
        border-color: $survol;
    }

    &:hover + .menu__nivo2__lien .menu__nivo2__lien__profil {
        color: $survol;
    }
}

.menu__nivo2__lien {
    padding: $espacement-standard--petit;
    display: grid;
    align-items: center;
    font-size: px2rem(14);
    text-transform: capitalize;

    a:hover{
        color: $survol;
    }
}
