/*======================================================================================================================
$ CONTENEUR
======================================================================================================================*/
.menu {
    @include reset-ul;

    @include media-breakpoint-down(md) {
        z-index: z-index(100);
        width: 100%;
        background-color: $bleu-400;
    }

    @include media-breakpoint-up(lg) {
        position: fixed;
        top:0;
        left: 0;

        width: $largeur-menu;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;

        display: flex;
        flex-direction: column;
    }

}




/*======================================================================================================================
$ ITEM NORMAL
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ LIEN NORMAL
-----------------------------------------------------------------------------*/
.menu__item {
    display: flex;
    align-items: center;
    color: $bleu-200;

    svg {
        fill: $bleu-200;
    }

    @include media-breakpoint-down(md) {
        flex-direction: row;
        padding: $espacement-standard--petit;

        &:not(:last-child) {
            border-bottom: 1px solid $bleu-500;
        }


        svg {
            width: 20px;
            margin: 0 $espacement-standard--petit;
        }
    }

    @include media-breakpoint-up(lg) {
        flex-direction: column;
        justify-content: center;
        min-height: ($largeur-menu - $largeur-bande-menu);
        font-size: px2rem(10);
        text-transform: uppercase;

        svg {
            margin-bottom: $espacement-standard--petit;
        }
    }

}


/*-----------------------------------------------------------------------------
$ LIEN ACTIF
-----------------------------------------------------------------------------*/
.menu__item.actif {
    background-color: $bleu-400;
    color: $blanc;

    @include media-breakpoint-down(md) {
        @include menu__bande-halo {
            background-color: $orange-100;
        }
    }

    @include media-breakpoint-up(lg) {

        @include menu__bande-halo {
            @include degrade-horizontale--orange--fonce-claire;

        }

    }

    svg {
        fill: $blanc;
    }

}


/*-----------------------------------------------------------------------------
$ LIEN HOVER
-----------------------------------------------------------------------------*/
.menu__item {

    @include survol(".actif", ".var--logout"){
        color: $blanc;

        @include menu__bande-halo {
            background-color: $orange-100;
        }

        svg {
            fill: $blanc;
        }
    }
}


/*-----------------------------------------------------------------------------
$ LIEN AVEC POINT de nouveauté
-----------------------------------------------------------------------------*/
.menu__item.var--nouveau {
    position: relative;

    .fa {
        position: absolute;
        color: $rouge;
    }

    @include media-breakpoint-down(md) {
        .fa {
            top: 5px;
            left: 10px;
        }
    }

    @include media-breakpoint-up(lg) {
        .fa {
            top: 15px;
            right: 10px;
        }
    }


}

/*======================================================================================================================
$ ITEM LOGIN/LOGOUT
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ LOGIN
-----------------------------------------------------------------------------*/
.menu__item.var--login {
    @include media-breakpoint-down(md) {
        border-top: 1px dotted $bleu-200;
    }
    @include menu__bande-halo {
        background-color: $bleu-200;
    }
    border-bottom: 1px dotted $bleu-200;
}

/*-----------------------------------------------------------------------------
$ LOGOUT
-----------------------------------------------------------------------------*/
.menu__item.var--logout {
    align-items: flex-end;
    border-bottom: 1px dotted $bleu-200;
}
.menu__item__avatar {
    width: $largeur-menu;

    @include media-breakpoint-down(md) {
        display: none;
    }
}


/*-----------------------------------------------------------------------------
$ AFFICHAGE DU SOUS MENU
-----------------------------------------------------------------------------*/
@include media-breakpoint-up(lg) {
    .menu__item.var--logout:hover .menu__nivo2{
        display: grid;
    }
}

/*-----------------------------------------------------------------------------
$ SOUS MENU
-----------------------------------------------------------------------------*/
.menu__nivo2 {

    @include media-breakpoint-down(md) {
        display: grid;
    }

    @include media-breakpoint-up(lg) {
        display: none;
        position: fixed;
        top:0;
        left: 0;
    }


    min-height: $largeur-menu;
    grid-template-columns: $largeur-menu 150px;
    background-color: $bleu-400;
}

.menu__nivo2__img {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;

    img {
        width: 60px;
    }

    .cover.var--auteur:before {
        border-color: $orange-100;
    }

    &:hover + .menu__nivo2__lien .menu__nivo2__lien__profil {
        color: $blanc;
    }
}

.menu__nivo2__lien {
    padding: $espacement-standard--petit;
    display: grid;
    align-items: center;
    font-size: px2rem(14);
    text-transform: capitalize;

    a:hover{
        color: $blanc;
    }
}
