/*======================================================================================================================
$ PLAYLIST
======================================================================================================================*/
.lecteur__playlist {
    display: flex;
    flex-direction: column;
    padding: 0 $padding-layout-sidebar;
}

/*-----------------------------------------------------------------------------
$ MENU PLAYLIST - retour au player
-----------------------------------------------------------------------------*/
.lecteur__playlist__menu {

    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        padding: 0 $padding-layout-sidebar;

        position: fixed;
        top: 0;
        left: $largeur-menu;
        width: $largeur-sidebar;
        height: $hauteur-playlist-menu;

        background-color: $bleu-fonce;
        color: $blanc-fonce;

        &:hover {
            cursor: pointer;
        }
    }

    @media screen and (min-height: $playlist-taille-mini-hauteur-pour-affichage) {
        display: none;
    }
}




/*-----------------------------------------------------------------------------
$ LISTE DE MORCEAU
-----------------------------------------------------------------------------*/
.lecteur__playlist__liste {

    @include media-breakpoint-up(lg) {
        @media screen and (max-height: $playlist-taille-mini-hauteur-pour-affichage) {
            position: fixed;
            top: $hauteur-playlist-menu;
            bottom: 0;
            left: $largeur-menu;
            width: $largeur-sidebar;

            overflow-y: scroll;
            overflow-x: hidden;

            padding: 0 $padding-layout-sidebar;

        }
    }
}

/*======================================================================================================================
$ MORCEAU
======================================================================================================================*/
/*-----------------------------------------------------------------------------
$ NORMAL
-----------------------------------------------------------------------------*/
.lecteur__playlist__morceau {
    padding:$espacement-standard--petit 0;
    border-bottom: 1px solid rgba($bleu-moyen, 0.4);
    color: $bleu-moyen;

    @include media-breakpoint-down(sm) {
        &:first-child {
            border-top: 1px solid rgba($bleu-moyen, 0.4);
        }
    }

    @include media-breakpoint-down(md) {
        &:last-child {
            border-bottom-color: transparent;
        }
    }

    @include media-breakpoint-up(lg) {
        border-bottom: 1px solid rgba($orange-menu, 0.4);
    }
}


/*-----------------------------------------------------------------------------
$ ACTIF
-----------------------------------------------------------------------------*/
.lecteur__playlist__morceau.actif {

    @include media-breakpoint-down(md) {
        background-color: $bleu-moyen;
        color: $blanc-moyen;
    }


    @include media-breakpoint-up(lg) {
        background-color: $rouge;
        color: $blanc;
    }
}