/*======================================================================================================================
$ PLAYLIST
======================================================================================================================*/
.playlist {
    @include media-breakpoint-down(md) {
        @include degrade-vertical--orange-bas;
        z-index: 2; // pour passer au dessus de .lecteur-footer-navigation
    }
}


/*-----------------------------------------------------------------------------
$ LISTE DE MORCEAU
-----------------------------------------------------------------------------*/
.playlist__liste {

    width: 280px;
    margin: $espacement-standard 0 $espacement-standard $espacement-standard;

    @include media-breakpoint-down(md) {
        position: fixed;
        top: $hauteur-menu-mobile + $hauteur-mini-player;
        left:0;
        right: 0;
        bottom: 0;

        overflow-y: auto;
        overflow-x: hidden;

        margin: 0 auto;
    }

    @include media-breakpoint-up(lg) {
        @media screen and (max-height: $playlist-taille-mini-hauteur-pour-affichage) {
            position: fixed;
            top: $hauteur-mini-player--lg;
            bottom: 0;
            left: $largeur-menu;
            width: $largeur-sidebar;

            overflow-y: auto;
            overflow-x: hidden;

            padding: 0 $padding-sidebar;
            margin: 0;

        }
    }
}




/*-----------------------------------------------------------------------------
$ LISTE DE MORCEAU
-----------------------------------------------------------------------------*/
.playlist__controle {
    position: fixed;
    bottom:0;
    left:0;
    right: 0;
    height: $hauteur-menu-mobile;

    @include media-breakpoint-up(lg) {
        display: none;
    }
}
/*======================================================================================================================
$ DISPOSITION
======================================================================================================================*/
.playlist__grille {
    display: grid;
    grid-template-columns: 30px 1fr auto;
}

/*======================================================================================================================
$ SAISON
======================================================================================================================*/
.playlist__grille.playlist__saison {
    grid-template-columns: auto 1fr;
    align-items: center;
}
.playlist__grille.playlist__saison:not(:first-child){
    margin-top: 40px;
}

.playlist__grille.playlist__saison .fa{
    margin-right:10px;
}

.playlist__saison {
    color: $bleu-500;
    font-size: 20px;
}

/*======================================================================================================================
$ MORCEAU
======================================================================================================================*/
/*-----------------------------------------------------------------------------
$ NORMAL
-----------------------------------------------------------------------------*/
.playlist__morceau {
    color: $bleu-500;
    border-radius:2px;
    padding: 5px 10px;

    @include media-breakpoint-down(md) {
        border-bottom: 1px solid rgba($bleu-400, 0.2);

        &:last-child {
            border-bottom-color: transparent;
        }
    }
}

.playlist__morceau:hover {
    background: rgba($blanc, 0.5);
}

/*-----------------------------------------------------------------------------
$ ACTIF
-----------------------------------------------------------------------------*/
.playlist__morceau.actif {
    background-color: $blanc;
}
