/*======================================================================================================================
$ PUSH
======================================================================================================================*/
.push {
    position:fixed;
    top: $espacement-standard--petit;
    right: 10px;
    z-index: z-index(400);

    @include media-breakpoint-down(sm) {
        top: auto;
        bottom: $hauteur-menu-player;
    }
}

.push .close {
    padding-top: 9px;
}


