/*======================================================================================================================
$ SEARCH HOMEPAGE
======================================================================================================================*/
.search-homepage {
    display: flex;
    justify-content: center;

    form {
        width: 300px;

        @include media-breakpoint-up(md) {
            width: 500px;
        }
    }
}

/*======================================================================================================================
$ SEARCH HOMEPAGE
======================================================================================================================*/
.search-headband {
    @include media-breakpoint-up(lg) {
        max-width: 690px;
    }
}