/*======================================================================================================================
$ FOND BANNIERE
======================================================================================================================*/
@mixin banniere__fond {

    position: relative;
    z-index: z-index(0);

    &:before {
        @include content-absolute-cover;
        background-image: url('/static/dev/images/motif-cercle.svg');
        background-repeat: no-repeat;
        background-size: 800px 800px;
        background-position: center -280px;
        z-index: z-index(0);
    }



    @include media-breakpoint-only(md) {
        &:before {
            background-position: -265px center;
        }
    }


    @include media-breakpoint-up(lg) {
        &:before {
            background-position: -280px center;
        }
    }

}