/*======================================================================================================================
$ BASE BOUTON ROND
======================================================================================================================*/
@mixin btn-round($largeur) {
    width: $largeur;
    height: $largeur;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: px2rem(14);
}