/*======================================================================================================================
$ POSTION BOUTON DESTOP (petit et normal)
======================================================================================================================*/
@mixin lecteur__position-bouton {

    right: 40px;
    bottom: -25px;

}


/*======================================================================================================================
$ BOUTON CERCLE
======================================================================================================================*/
@mixin lecteur__bouton-cercle--blanc($border-color:transparent, $largeur:30px) {
    @include bouton-rond($largeur);
    border :2px solid $border-color;
    color: $blanc;
    font-size: 1.8rem;

    @include survol() {
        @include halo--blanc;
    }
}