/*======================================================================================================================
$ HALO MENU
======================================================================================================================*/
@mixin menu__bande-halo {
    position: relative;

    &:before {
        @include halo--orange-clair;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: $largeur-bande-menu;

        @content;

    }
}
