/*======================================================================================================================
$ HALO MENU
======================================================================================================================*/
@mixin menu__bande {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: $largeur-bande-menu;

        @content;

    }
}
