/*======================================================================================================================
$ NAVIGATION
======================================================================================================================*/
@mixin barre-bas {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: -($espacement-bas-barre-navigation);
        left: 0;
        right: 0;
        height: 3px;
        @content;
    }
}