/*======================================================================================================================
$ TEXTE
======================================================================================================================*/
@mixin text-color($color) {
    color: $color;

    &:hover,
    &:focus {
        color: darken($color, 10%);
    }
}

/*======================================================================================================================
$ RESET UL
======================================================================================================================*/

@mixin reset-ul {
    padding-left:0;
    margin-bottom:0;
    list-style: none;
}




/*======================================================================================================================
$ DEGRADER
======================================================================================================================*/

@mixin degrade-horizontal--orange {
    background: linear-gradient(to right, $orange-300 0%, $orange-100 100%);
}

@mixin degrade-vertical--orange-bas {
    background: linear-gradient(to bottom, $orange-300 0%, $orange-200 100%);
}

@mixin degrade-vertical--orange-haut {
    background: linear-gradient(to top, $orange-300 0%, $orange-200 100%);
}




/*======================================================================================================================
$ HALO
======================================================================================================================*/

@mixin halo--bleu-clair {
    box-shadow: 0 0 3px 0 $bleu-300;
}




/*======================================================================================================================
$ FILTRE
======================================================================================================================*/
@mixin filtre-bleu {
    background: rgba($bleu-500, 0.87);
}


/*======================================================================================================================
$ POSITION ABSOLUTE
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ BASE
-----------------------------------------------------------------------------*/
@mixin cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*-----------------------------------------------------------------------------
$ BEFORE ou AFTER COVER
-----------------------------------------------------------------------------*/
@mixin content-absolute-cover {
    content: "";
    @include cover;
}

/*-----------------------------------------------------------------------------
$ CENTRE CENTRE
-----------------------------------------------------------------------------*/
@mixin pa-centre($transform:"") {
    position: absolute;
    top: 50%;
    left: 50%;

    @if($transform == ""){
        transform: translate3d(-50%, -50%, 0);
    }
    @else {
        transform: translate3d(-50%, -50%, 0) $transform;
    }
}

/*======================================================================================================================
$ TAILLE
======================================================================================================================*/
@mixin taille($taille) {
    width: $taille;
    height: $taille;
}
