/*======================================================================================================================
$ RESET UL
======================================================================================================================*/

@mixin reset-ul {
    padding-left:0;
    margin-bottom:0;
    list-style: none;
}




/*======================================================================================================================
$ DEGRADER
======================================================================================================================*/

@mixin degrade-horizontale--orange--fonce-claire {
    background: linear-gradient(to right, $orange-fonce 0%, $orange-clair 100%);
}

@mixin degrade-vertical--orange--fonce-moyen {
    background: linear-gradient(to bottom, $orange-fonce 0%, $orange-moyen 100%);
}




/*======================================================================================================================
$ HALO
======================================================================================================================*/

@mixin halo--orange-clair {
    box-shadow: 0 0 3px 0 $orange-clair;
}

@mixin halo--bleu-clair {
    box-shadow: 0 0 3px 0 $bleu-clair;
}

@mixin halo--rouge {
    box-shadow: 0 0 3px 0 $rouge;
}

@mixin halo--blanc {
    box-shadow: 0 0 3px 0 $blanc;
}




/*======================================================================================================================
$ COVER
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ BASE
-----------------------------------------------------------------------------*/
@mixin cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*-----------------------------------------------------------------------------
$ BEFORE ou AFTER COVER
-----------------------------------------------------------------------------*/
@mixin content-absolute-cover {
    content: "";
    @include cover;
}




/*======================================================================================================================
$ ESPACEMENT MAINPAGE
======================================================================================================================*/
@mixin margin-layout-main {
    margin-right: $espacement-standard;
    margin-left: $espacement-standard;
}












