/*======================================================================================================================
$ BASE
======================================================================================================================*/
.bandeau {

    @include media-breakpoint-up(large) {
        height: 300px;
        background-size:cover;
        background-position: 0% center;
        background-repeat: no-repeat;
    }

}

.bandeau-logo {
    text-align: center;

    @include media-breakpoint-down(sm) {
        padding-right: $espacement-standard;
        padding-left: $espacement-standard;
    }
}




/*======================================================================================================================
LOGO RADIOPHONIX
======================================================================================================================*/
.bandeau .logo {
    max-width: 280px;
    width: auto;
    height: 50px;

    @include media-breakpoint-up(md) {
        max-width: 500px;
        width: 500px;
        height: 100px;
    }
}




/*======================================================================================================================
TITRE
======================================================================================================================*/
.bandeau__titre {
    @include margin-layout-main;
    display: block;
    font-weight: 300;
    font-size: 4rem;
    letter-spacing: 0.1rem;
    color: $blanc;

    @include media-breakpoint-up(md) {
        font-size: 6rem;
    }
}




/*======================================================================================================================
SOUS-TITRE
======================================================================================================================*/
.bandeau__sous-titre {
    @include margin-layout-main;
    display: block;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    color: $blanc;

    @include media-breakpoint-up(md) {
        font-size: 3rem;
    }
}