/*======================================================================================================================
$ PICTO SEUL
======================================================================================================================*/
.btn-picto {
    display: grid;
    justify-content: center;
    align-content: center;

    border: 0;
    background: transparent;
    color: $bleu-500;

    width: 16px;
    height: 16px;

    @include hover {
        color: $black;
    }
}

/*======================================================================================================================
$ CARRÉ POUR ICONE
======================================================================================================================*/
.btn-carre {
    @include btn-carre(38px);
    overflow: hidden;

    // amélioration de la position des icônes
    .fa-play:not(.fa-pause) {
        padding-left: 3px;
    }

    .fa-backward {
        padding-right: 5px;
    }

    .fa-forward {
        padding-left: 5px;
    }

    .fa-angle-up,
    .fa-angle-down {
        font-size: 30px;
    }
}

.btn-carre.btn-sm {
    @include btn-carre(31px);
}

.btn-carre.btn-lg {
    @include btn-carre(48px);
}


/*======================================================================================================================
$ OUTLINE THEME
======================================================================================================================*/
.btn-theme {
    background-color: $white;
    color: $bleu-400;

    border-radius: 5px;
    border: 1px solid $orange-300;
    box-shadow: 0px 1px 2px 0 $bleu-300, inset 0px 1px 0 0 $bleu-100;

    &:hover {
        color: $rouge-300;
    }
    &:focus {
        color: $bleu-400;
    }
    &:active {
        box-shadow: inset -1px 1px 0 0  $bleu-100;
        border-top: 2px solid #eda681;
    }
}


/*======================================================================================================================
$ DÉSACTIVÉ
======================================================================================================================*/
button[disabled]{
    cursor: not-allowed;

    &:hover {
        border-color: inherit;
    }
}


/*======================================================================================================================
$ DÉSACTIVÉ
======================================================================================================================*/
.btn-reset {
    border: 0 none;
    background-color: transparent;
}