/*======================================================================================================================
$ OUTLINE CUSTOM
======================================================================================================================*/
.btn-outline-light {
    border-color: $bleu-200;
    color: $bleu-300;
}

/*======================================================================================================================
$ OUTLINE ROUND
======================================================================================================================*/
[class*=btn-outline-].btn-round {
    @include btn-round(38px);

    &.btn-sm {
        @include btn-round(31px);
    }
    &.btn-lg {
        @include btn-round(48px);
    }
}


// THEME RADIOPHONIX
.btn-outline-theme.btn-round {
    box-shadow: 0 0 5px 0 $primary;
    border: none;
    color: $bleu-400;
    background-color: $white;

    &:hover {
        color: $primary;
    }
    &:focus {
        color: $bleu-400;
    }
}




//$ HARMONISE LA POSITION DANS DES BOUTONS ROND
.btn-round {

    .fa-play:not(.fa-pause) {
        padding-left: 3px;
    }

    .fa-backward {
        padding-right: 5px;
    }

    .fa-forward {
        padding-left: 5px;
    }

}