/*======================================================================================================================
$ BASE
======================================================================================================================*/
.cover{
    position: relative;
    display: inline-block;
    overflow: hidden;
    //border:1px solid red;
}

a:hover,
a:focus {
    .cover:before {
        border-color: $primary;
    }
    .cover svg {
        stroke: $primary;
    }
}


/*======================================================================================================================
$ TAILLE
======================================================================================================================*/


/*-----------------------------------------------------------------------------
$ PETIT
-----------------------------------------------------------------------------*/
.cover.var--petit {
    @include taille(94px);
    /*---------------------------------*/
    &.var--saga {
        &:before {
            @include taille(80px);
        }
        img {
            @include taille(64px);
        }
    }
    /*---------------------------------*/
    &.var--faiseur {
        &:before {
            @include taille(78px);
        }
        img {
            @include taille(80px);
        }
    }
    /*---------------------------------*/
    &.var--episode {
        &:before {
            @include taille(70px);
        }
        img {
            @include taille(80px);
        }
    }
    /*---------------------------------*/
    &.var--genre {
        svg {
            @include taille(90px);
            @include pa-centre();
            stroke-width: 2px;
        }
        img {
            @include taille(80px);
        }
    }
    /*---------------------------------*/
}


/*-----------------------------------------------------------------------------
$ MOYEN
-----------------------------------------------------------------------------*/
.cover.var--moyen {
    @include taille(170px);
    /*---------------------------------*/
    &.var--saga {
        &:before {
            @include taille(150px);
        }
        img {
            @include taille(130px);
        }
    }
    /*---------------------------------*/
    &.var--faiseur {
        &:before {
            @include taille(138px);
        }
        img {
            @include taille(150px);
        }
    }
    /*---------------------------------*/
    &.var--episode {
        &:before {
            @include taille(124px);
        }
        img {
            @include taille(150px);
        }
    }
    /*---------------------------------*/
    &.var--genre {
        svg {
            @include taille(160px);
            @include pa-centre();
            stroke-width: 2px;
        }
        img {
            @include taille(150px);
        }
    }
    /*---------------------------------*/
}

/*======================================================================================================================
$ CONTOUR
======================================================================================================================*/
$couleur-contour: $bleu-200;

.cover:before {
    content: "";
    display: block;
    @include pa-centre;
}

.cover.var--saga:before {
    border: 1px solid $couleur-contour;
}

.cover.var--faiseur:before {
    border: 1px solid $couleur-contour;
    border-radius: 50%;
}

.cover.var--episode:before {
    border: 1px solid $couleur-contour;
    @include pa-centre(rotate(45deg));
    border-radius: 8px;
}

.cover.var--genre svg {
    stroke: $couleur-contour;
}

/*======================================================================================================================
$ MASK
  Fonctionne pas sur IE et edge bien sur, mais osef
======================================================================================================================*/
.cover__mask {
    @include pa-centre();
}

.cover.var--faiseur .cover__mask {
    mask-image: url('/static/dev/images/masque-faiseur.svg');
}

.cover.var--episode .cover__mask {
    mask-image: url('/static/dev/images/masque-episode.svg');
}

.cover.var--genre .cover__mask {
    mask-image: url('/static/dev/images/masque-genre.svg');
}
