/*======================================================================================================================
$ ITEM EPISODE
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ NORMAL
-----------------------------------------------------------------------------*/
.episode-item {
    display: grid;
    grid-template-columns: minmax(32px, auto) 1fr auto auto;
    grid-column-gap: $espacement-standard;
    align-items: center;

    border-bottom: 1px solid $bleu-100;
    padding: $espacement-standard--petit 0;

    &:last-child {
        border-bottom: 0;
    }

    @include survol(".actif") {

        .skin-icon-fa__cercle {
            color: $primary;
        }

        .liste-episode__titre {
            color: $primary;
        }
    }
}

/*-----------------------------------------------------------------------------
$ TEMPS EPISODE
-----------------------------------------------------------------------------*/
@include media-breakpoint-down(md){
    .episode-item--temps {
        grid-column: 2 / 4;
        grid-row: 2 / 3;

    }
}

/*-----------------------------------------------------------------------------
$ ACTIF
-----------------------------------------------------------------------------*/
.episode-item.actif {
    background-color: $bleu-100;
}
