/*======================================================================================================================
$ ITEM EPISODE
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ NORMAL
-----------------------------------------------------------------------------*/
.episode-item {
    border-bottom: 1px solid $blanc-moyen;
    padding: $espacement-standard--petit 0;

    &:last-child {
        border-bottom: 0;
    }

    @include survol(".actif") {

        .hfa-cercle-blanc-fonce {
            color: $rouge;
        }

        .liste-episode__titre {
            color: $rouge;
        }
    }
}


/*-----------------------------------------------------------------------------
$ ACTIF
-----------------------------------------------------------------------------*/
.episode-item.actif {
    background-color: $blanc-moyen;
}


/*======================================================================================================================
$ TITRE
======================================================================================================================*/
.episode-item__titre {
    font-weight: 700;
}
