/*======================================================================================================================
$ IMAGE (a mettre sur un image)
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ NOIR ET BLANC
-----------------------------------------------------------------------------*/
.img__filtre-grayscale {
    filter: grayscale(100%);
}


/*======================================================================================================================
$ POSITION ABSOLUTE
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ BLEU
-----------------------------------------------------------------------------*/
.pa-filtre-bleu,
.pa__filtre-bleu {
    @include cover;
    background: rgba($bleu-fonce, 0.7);
}

/*-----------------------------------------------------------------------------
$ ORANGE
-----------------------------------------------------------------------------*/
.pa__filtre-orange {
    @include cover;
    background: rgba($orange, 0.7);
}