/*======================================================================================================================
$ LISTE de BOUTON
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ CONTENEUR (ul)
-----------------------------------------------------------------------------*/
.liste-bouton {
    @include reset-ul;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $espacement-standard;
}

/*-----------------------------------------------------------------------------
$ ITEM (li)
-----------------------------------------------------------------------------*/
.liste-bouton li {
    display: inline-block;

    margin-right: $espacement-standard--petit;
    margin-bottom: $espacement-standard--petit;

    &:last-child {
        margin-right: 0;
    }
}