/*======================================================================================================================
$ LISTE de JAQUETTE
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ CONTENEUR (ul)
-----------------------------------------------------------------------------*/
.liste-jaquette {

    @include reset-ul;
    display: flex;
    flex-wrap: wrap;

}

/*-----------------------------------------------------------------------------
$ ITEM (li)
-----------------------------------------------------------------------------*/
.liste-jaquette li {

    flex: 0 1 $largeur-grande-jaquette;
    margin-right: $espacement-standard;
    margin-bottom: $espacement-standard;


}

/*-----------------------------------------------------------------------------
$ SURCHARGE JAQUETTE - liste saga
-----------------------------------------------------------------------------*/
.liste-jaquette.saga {

    [class^="jaquette"] {
        mask-image:none;
    }

}