/*======================================================================================================================
$ LISTE de RESULTAT
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ BASE (ul)
-----------------------------------------------------------------------------*/
.liste-resultat {
    @include reset-ul();
    display: flex;
    flex-wrap: wrap;
}

/*-----------------------------------------------------------------------------
$ ITEM ZOOM (li)
-----------------------------------------------------------------------------*/
.liste-resultat__item-zoom {
    margin-bottom: 20px;
    margin-right: 10px;
}

/*-----------------------------------------------------------------------------
$ ITEM VRAC (li)
-----------------------------------------------------------------------------*/
.liste-resultat__item-vrac {
    flex: 0 1 380px;
    margin-bottom: 20px;
    margin-right: 10px;
}




/*======================================================================================================================
$ VRAC (mise en forme)
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ ZONE VISUEL
-----------------------------------------------------------------------------*/
.liste-resultat__visuel {
    flex: 0 1 95px;

    display: flex;
    align-items: center;
}

/*-----------------------------------------------------------------------------
$ ZONE INFO
-----------------------------------------------------------------------------*/
.liste-resultat__info {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
