/*======================================================================================================================
Logo en homepage
======================================================================================================================*/
.logo-home {
    max-width: 280px;
    width: auto;
    height: 50px;

    @include media-breakpoint-up(md) {
        max-width: 500px;
        width: 500px;
        height: 100px;
    }
}
.baseline {
    color: $blanc;
    letter-spacing: px2rem(2.2);
    font-size: px2rem(30);
    font-weight: 300;
    line-height: 1.2;
}