/*======================================================================================================================
Logo en homepage
======================================================================================================================*/
.logo-home {
    max-width: 280px;
    width: auto;
    height: 50px;

    @include media-breakpoint-up(md) {
        max-width: 500px;
        width: 500px;
        height: 100px;
    }
}