/*======================================================================================================================
$ BASE
composent bootstrap stylé
======================================================================================================================*/
.nav:not(.nav-pills) {
    @include barre-bas {
        z-index: z-index(0);
        background: $bleu-100;
        bottom: -($espacement-bas-barre-navigation - $espacement-bas-bouton-barre-navigation);
    }
}


/*======================================================================================================================
$ ITEM
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ NORMAL
-----------------------------------------------------------------------------*/
.nav:not(.nav-pills) .nav-link
{
    padding: 0;
    text-transform: uppercase;
    color: $bleu-300;
    font-size: px2rem(16);
    cursor: auto;

    margin-right: $espacement-standard--double;
    margin-bottom: $espacement-bas-bouton-barre-navigation;

    &:last-child {
        margin-right: 0;
    }
}

// si on utilise une liste pour le menu
.nav:not(.nav-pills) .nav-item .nav-link:last-child {
    margin-right: $espacement-standard--double;
}
.nav:not(.nav-pills) .nav-item:last-child .nav-link {
    margin-right: 0;
}

/*-----------------------------------------------------------------------------
$ ACTIF
-----------------------------------------------------------------------------*/
.nav:not(.nav-pills) .nav-link.active {
    color: $bleu-500;

    @include barre-bas {
        z-index: z-index(1);
        background-color: $primary;
    }
}

/*-----------------------------------------------------------------------------
$ DISABLED
-----------------------------------------------------------------------------*/
.nav:not(.nav-pills) .nav-link.disabled {
    color: $bleu-200;
}




/*-----------------------------------------------------------------------------
$ SURVOL
-----------------------------------------------------------------------------*/
.nav:not(.nav-pills) .nav-link:hover:not(.active):not(.disabled) {
    cursor: pointer;
    color: $bleu-400;

    @include barre-bas {
        z-index: z-index(1);
        background-color: $orange-100;
    }
}