/*======================================================================================================================
$ BASE
======================================================================================================================*/
.navigation {
    @include reset-ul;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: ($espacement-bas-barre-navigation + $hauteur-barre-navigation + $espacement-standard);
    width: 100%;

    @include barre-bas {
        z-index: z-index(0);
        background: $bleu-100;
        bottom: -($espacement-bas-barre-navigation - $espacement-bas-bouton-barre-navigation);
    }
}




/*======================================================================================================================
$ ITEM
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ NORMAL
-----------------------------------------------------------------------------*/
.navigation li {
    text-transform: uppercase;
    color: $bleu-300;
    font-size: px2rem(16);

    margin-right: $espacement-standard--double;
    margin-bottom: $espacement-bas-bouton-barre-navigation;

    &:last-child {
        margin-right: 0;
    }
}




/*-----------------------------------------------------------------------------
$ ACTIF
-----------------------------------------------------------------------------*/
.navigation li.actif {
    color: $bleu-500;

    @include barre-bas {
        z-index: z-index(1);
        background-color: $primary;
    }
}




/*-----------------------------------------------------------------------------
$ SURVOL
-----------------------------------------------------------------------------*/
.navigation li {
    @include survol(".actif"){
        color: $bleu-400;

        @include barre-bas {
            z-index: z-index(1);
            background-color: $orange-100;
        }
    };
}
