/*======================================================================================================================
$ PROGRESS BAR -> Bootstrap surcharge
======================================================================================================================*/

/*-----------------------------------------------------------------------------
CONTENEUR
-----------------------------------------------------------------------------*/
.progress {
    position: relative;
}

/*-----------------------------------------------------------------------------
0%
-----------------------------------------------------------------------------*/
.progress-bar[aria-valuenow="0"] {
    color: transparent;

    &:after {
        @include cover;
        content: attr(after-content);
        color: $bleu-clair;
        text-align: left;
        padding-left: 5px;
        font-size: $texte-normal;
    }
}

