/*======================================================================================================================
$ COLORATION
======================================================================================================================*/
.fill--blanc {
    fill: $blanc;
}
.fill--logo-orange {
    fill: $orange-300;
}
.fill--logo-bleu {
    fill: $bleu-300;
}