/*======================================================================================================================
$ COLORATION (issues#57)
======================================================================================================================*/
.fill--blanc {
    fill: $blanc;
}
.fill--bleu {
    fill: $bleu-400;
}
.fill--logo-orange {
    fill: $orange-300;
}
.fill--logo-bleu {
    fill: $bleu-300;
}