/*======================================================================================================================
$ COLORATION (issues#57)
======================================================================================================================*/
.fill--blanc {
    fill: $blanc;
}
.fill--bleu {
    fill: $bleu-moyen;
}
.fill--logo-orange {
    fill: $orange-fonce;
}
.fill--logo-bleu {
    fill: $bleu-clair;
}