/*======================================================================================================================
$ DISPLAY HEADINGS
======================================================================================================================*/
.display-1,
.display-2{
    letter-spacing: 0.1rem;
}
.display-3,
.display-4 {
    letter-spacing: 0.2rem;
}

@include media-breakpoint-down(sm) {
    .display-1 {
        font-size: px2rem(40);
    }
    .display-2 {
        font-size: px2rem(30);
    }
    .display-3 {
        font-size: px2rem(20);
    }
    .display-4 {
        font-size: px2rem(15);
    }
}


/*======================================================================================================================
$ H
======================================================================================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

.h1,
.h2,
.h3,
.h4 {
    color: $bleu-500;
    font-weight: 300;
}

.h5,
.h6 {
    color: inherit;
    font-weight: 400;
}


/*======================================================================================================================
$ PARAGRAPHE
======================================================================================================================*/
.lead {
    color: $bleu-500;
    letter-spacing: 0.1rem;
}

p {
    margin: 0;
}




/*======================================================================================================================
$ COULEUR
======================================================================================================================*/
.text-body {
    @include text-color($body-color);// couleur body
}
.text-blue-500 {
    @include text-color($bleu-500);
}
.text-orange-300 {
    @include text-color($orange-300);
}
