/*======================================================================================================================
$ BASE
======================================================================================================================*/
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    color: $bleu-fonce;
    font-weight: 300;
}


/*======================================================================================================================
$ TEXTE
taille de base 1.4rem
======================================================================================================================*/
.texte-tres-petit {
    font-size: 1rem;
}
.texte-petit {
    font-size: $texte-petit; //1.2rem
}
.texte-moyen {
    font-size: 2rem;
}
.texte-grand {
    font-size: 3.5rem;
}
.texte-tres-grand {
    font-size: 5rem;
}




/*======================================================================================================================
$ GRAISSE
de base : 400
======================================================================================================================*/
.texte-300{
    font-weight: 300;
}
.texte-600{
    font-weight: 600;
}




/*======================================================================================================================
$ COULEUR
======================================================================================================================*/
.texte-blanc {
    color: $blanc;
}
.texte-bleu-fonce {
    color: $bleu-fonce;
}
.texte-bleu-clair {
    color: $bleu-clair;
}
.texte-orange-fonce {
    color: $orange-fonce;
}
.texte-rouge {
    color: $rouge;
}



/*======================================================================================================================
$ LISTE
======================================================================================================================*/
.reset-ul {
    @include reset-ul;
}

.liste-tiret {
    margin: 0;
    padding: 0;
    list-style: none;

    li:before {
        content: "\2043";
        margin-right: 5px;
        color: $orange-fonce;
    }
}
