/*======================================================================================================================
$ DISPLAY HEADINGS
======================================================================================================================*/
.display-1,
.display-2{
    letter-spacing: 0.1rem;
}
.display-3,
.display-4 {
    letter-spacing: 0.2rem;
}

@include media-breakpoint-down(sm) {
    .display-1 {
        font-size: 4rem;
    }
    .display-2 {
        font-size: 3rem;
    }
    .display-3 {
        font-size: 2rem;
    }
    .display-4 {
        font-size: 1.5rem;
    }
}


/*======================================================================================================================
$ H
======================================================================================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

.h1,
.h2,
.h3,
.h4 {
    color: $bleu-fonce;
    font-weight: 300;
}

.h5,
.h6 {
    color: inherit;
    font-weight: 400;
}


/*======================================================================================================================
$ PARAGRAPHE
======================================================================================================================*/
.lead {
    color: $bleu-fonce;
    letter-spacing: 0.1rem;
}

p {
    margin: 0;
}




/*======================================================================================================================
$ COULEUR
======================================================================================================================*/
.texte-blanc {
    color: $blanc;
}
.texte-bleu-fonce {
    color: $bleu-fonce;
}
.body-color,
.texte-bleu-clair {
    color: $body-color; // couleur body
}
.texte-orange-fonce {
    color: $orange-fonce;
}
.texte-rouge {
    color: $rouge;
}



/*======================================================================================================================
$ LISTE
======================================================================================================================*/
.reset-ul {
    @include reset-ul;
}

.liste-tiret {
    margin: 0;
    padding: 0;
    list-style: none;

    li:before {
        content: "\2043";
        margin-right: 5px;
        color: $orange-fonce;
    }
}
