/*======================================================================================================================
$ CONTENU MAIN
======================================================================================================================*/
.titre--bloc {
    display: block;
    font-weight: 300;
    font-size: 2.4rem;
    color: $bleu-fonce;
}




/*======================================================================================================================
$ SIDEBAR
======================================================================================================================*/
.titre-sidebar {
    display: block;
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: $bleu-moyen;

    @include media-breakpoint-up(lg) {
        color: $blanc;
    }
}




/*======================================================================================================================
$ RESULTAT RECHERCHE
======================================================================================================================*/
.titre-resultat-recherche {
    font-weight: 300;
    font-size: 1.7rem;
    color: $bleu-fonce;
}




/*======================================================================================================================
$ LISTE JAQUETTE SAGA
======================================================================================================================*/
.titre-liste-jaquette-saga {
    font-weight: 300;
    font-size: 1.7rem;
    color: $bleu-clair;
}
