/*======================================================================================================================
$ FLEX
======================================================================================================================*/
.flex-grow-1 {
    flex-grow: 1;
}


/*======================================================================================================================
$ POSITION
======================================================================================================================*/
.pr {
    position: relative;
}

.pa-centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.pa-cover {
    @include cover;
}


/*======================================================================================================================
$ AJOUTE un CURSEUR
======================================================================================================================*/
@include media-breakpoint-up(lg) {
    .a-curseur:hover {
        cursor: pointer;
    }
}




/*======================================================================================================================
$ CENTRER VERTICALEMENT
======================================================================================================================*/
.centrage-parent {
    display: flex;
}

.centrage-enfant {
    width: 100%;
    margin-top:auto;
    margin-bottom:auto;
}









