/*======================================================================================================================
$ FLEX
======================================================================================================================*/
.flex-grow-1 {
    flex-grow: 1;
}

/*======================================================================================================================
$ GRID
======================================================================================================================*/
.d-grid {
    display: grid;
}


/*======================================================================================================================
$ POSITION
======================================================================================================================*/
.pr {
    position: relative;
}

.pa-cover {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}


/*======================================================================================================================
$ AJOUTE un CURSEUR
======================================================================================================================*/
@include media-breakpoint-up(lg) {
    .a-curseur:hover {
        cursor: pointer;
    }
}