/*======================================================================================================================
$ FLEX
======================================================================================================================*/
.flex-grow-1 {
    flex-grow: 1;
}


/*======================================================================================================================
$ POSITION
======================================================================================================================*/
.pr {
    position: relative;
}

.pa-centrer {
    @include pa-centre;
}


/*======================================================================================================================
$ AJOUTE un CURSEUR
======================================================================================================================*/
@include media-breakpoint-up(lg) {
    .a-curseur:hover {
        cursor: pointer;
    }
}