/*======================================================================================================================
$ BASE
======================================================================================================================*/
.zone-interactive {
    border :1px solid transparent;
    border-radius: 3px;

    display: flex;
}

.zone-interactive.border-top-0 {
    border-radius: 0 0 3px 3px;
}




/*======================================================================================================================
$ ZONE INFO
======================================================================================================================*/
.zone-interactive__info {
    flex-grow: 1;
}




/*======================================================================================================================
$ ZONE ACTION
======================================================================================================================*/
.zone-interactive__action {
    display: flex;
    flex-direction: column;

    &:first-child {
        border-right: 1px solid transparent;
    }
    &:last-child {
        border-left: 1px solid transparent;
    }

}




/*======================================================================================================================
$ BOUTON ACTION
======================================================================================================================*/
.zone-interactive__bouton {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 30px;

    border-bottom: 1px solid transparent;

    &:last-child {
        border-bottom: 0;
    }

    .fa {
        color: transparent;

        &.actif {
            color: $primary;
        }
    }

}




/*======================================================================================================================
$ UTILITAIRE
======================================================================================================================*/
.zone-interactive__border{
    border :1px solid transparent;
}

.zone-interactive__colle-cadre {
    margin-top: -5px;
}




/*======================================================================================================================
$ HOVER
======================================================================================================================*/
a {
    @include survol() {
        .zone-interactive,
        .zone-interactive__action,
        .zone-interactive__bouton,
        .zone-interactive__border{
            border-color: $bleu-200;
        }

        .zone-interactive__action {
            display: flex;
        }

        .zone-interactive__bouton .fa{
            color: inherit;

            @include survol() {
                color: $orange-200;
            }
        }

        .zone-interactive__bouton .fa.actif{
            color: $primary;

            @include survol() {
                color: $orange-200;
            }
        }
    }
}


