/*======================================================================================================================
$ COULEURS
======================================================================================================================*/

$orange-clair: #f2c09e;
$orange-moyen: #f0b888;
$orange-fonce: #eb937b;
$rouge: #e25956;

$bleu-clair: #627485;
$bleu-moyen: #3a4651;
$bleu-fonce: #262f38;

$blanc: #ffffff;
$blanc-moyen: #ebeff4;
$blanc-fonce: #bdcadb;


$orange-menu: #d27a5d;
$rouge-player : #E56C62;