/*======================================================================================================================
$ ESPACEMENT
======================================================================================================================*/

/*-----------------------------------------------------------------------------
$ BOOTSTRAP

https://getbootstrap.com/docs/4.0/utilities/spacing/

0 -> 0
1 -> 2.5px
2 -> 5px
3 -> 10px
4 -> 15px
5 -> 30px

-----------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------
$ STANDARD
-----------------------------------------------------------------------------*/
$espacement-standard: 20px;

$espacement-standard--petit: ($espacement-standard / 2);

$espacement-standard--double: ($espacement-standard * 2);