/*======================================================================================================================
$ JAQUETTE
======================================================================================================================*/

$largeur-mini-jaquette: 40px;

$largeur-petite-jaquette: 80px;

$largeur-moyen-jaquette: 160px;

$largeur-grande-jaquette: 200px;

$largeur-banniere-jaquette: 300px;