/*======================================================================================================================
$ NAVIGATION
======================================================================================================================*/
$hauteur-barre-navigation: 3px;

// pour que les calcul soit plus parlant
$espacement-bas-barre-navigation: $espacement-standard--petit;
$espacement-bas-bouton-barre-navigation: $espacement-standard;