/*======================================================================================================================
$ LAYOUT GLOBAL
======================================================================================================================*/

$hauteur-header: 40px;

$largeur-menu: 90px;

$largeur-sidebar: 320px;

$largeur-bande-menu: 5px;

$padding-layout-sidebar: 15px;

$padding-grid: 15px; //recupe varaible bootstrap ?

$hauteur-lecteur: $largeur-sidebar + 230px;
$hauteur-lecteur-mini : ($largeur-sidebar / 2);

$playlist-taille-mini-hauteur-pour-affichage : $hauteur-lecteur + 168px; //168px correspond a 4 lignes




/*======================================================================================================================
$ TAILLE DE TEXTE
======================================================================================================================*/

$texte-normal: 1.4rem;
$texte-petit: 1.2rem;