/*======================================================================================================================
$ LAYOUT GLOBAL
======================================================================================================================*/
$largeur-menu: 90px;

$largeur-sidebar: 320px;

$largeur-bande-menu: 5px;

$hauteur-menu-mobile: 50px;

$padding-layout-sidebar: 15px;

$hauteur-lecteur: $largeur-sidebar + 180px;

$hauteur-playlist-menu: 40px;

$playlist-taille-mini-hauteur-pour-affichage : $hauteur-lecteur + 168px; //168px correspond a 4 lignes

$taille-max-container: 910px;


/*======================================================================================================================
$ TAILLE DE TEXTE
======================================================================================================================*/
$texte-normal: px2rem(14);




/*======================================================================================================================
$ CARD
======================================================================================================================*/
$largeur-card: 200px;
$largeur-card-horizontal: 300px;
$largeur-conteneur-cover: 100px;
$list-card-gap: 20px;


$padding-container-sm: 15px; // TODO trouver la variable bootstrap

$card-moyenne-1-par-ligne-max: (($padding-container-sm + $largeur-card + $list-card-gap + $largeur-card + $padding-container-sm) - 1 );
$card-moyenne-2-par-ligne-max: (($padding-container-sm + $largeur-card + $list-card-gap + $largeur-card + $list-card-gap + $largeur-card + $padding-container-sm) - 1 );

//pour que 2 card passent quand meme cote a cote
$list-card-gap-sm: 6px;
$largeur-card-sm: ((320px - ($padding-container-sm * 2 + $list-card-gap-sm)) / 2);//320 taille mini en mobile